
.buttons-print {
    background-color: #FF8000;

}
.buttons-excel {
    background-color: #FF8000;

}

.buttons-pdf {
    background-color: #FF8000;

}

.buttons-csv {
    background-color: #FF8000;
}

.buttons-copy {
    background-color: #FF8000;

}

