
.buttons-print {
    background-color: #88A247;

}
.buttons-excel {
    background-color: #88A247;

}

.buttons-pdf {
    background-color: #88A247;

}

.buttons-csv {
    background-color: #88A247;
}

.buttons-copy {
    background-color: #88A247;

}
