/*  Nuevo Menu */

.menu {
    background-color: #88A247;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
}

.menu h1 {
    margin: 10px;
}

.logo-acea {
    margin-left: 1em;
}

#user-menu {
    *border-left: 1px solid white;
    padding: 0px 1.5em;
    *height: 100%;
   /* display: flex;*/
    flex-direction: row;
    justify-content: space-between;
    *align-items: center;
}

#user-menu:hover {
    *background: #030362;
}

#user-menu h5 {
    line-height: 100%;
    font-weight: bold;
    text-align: center;
}

#user-menu a {
    color: white !important;
    /*display: block;*/
    height: 100%;
    *width: 100%;
    margin: 2.5px 0;
}

#sub-menu-top {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: #057df6;
    right: 0;
    padding-left: 0;
}

#sub-menu-top li {
    list-style: none;
    padding: 10px 1em;
    transition: .3s;
}

#sub-menu-top li a {
    color: white;
    display: block;
    width: 100%;
    height: 100%;
}

#sub-menu-top li a:hover {
    color: white;
    text-decoration: none;
}

#sub-menu-top li:hover {
    background-color: #3096fb;
}