
.buttons-print {
    background-color: #4d52de;

}
.buttons-excel {
    background-color: #4d52de;

}

.buttons-pdf {
    background-color: #4d52de;

}

.buttons-csv {
    background-color: #4d52de;
}

.buttons-copy {
    background-color: #4d52de;

}
