

.cabecera{
    width: 100%;
    min-width:300px ;
    height: 40px;
    color: #ffffff;
    background-color: #4d52de;
    margin: .5em auto;
    text-align: center;
    font-size: 1.1em;
    font-family: "DejaVu Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border-radius: 2px;

}

/* Set the size of the div element that contains the map */
#map {
    height: 260px;  /* The height is 400 pixels */
    width: 55%;  /* The width is the width of the web page */

}
#fotoVisible{
    width: 200px;
    height: 200px;

}

.subCabecera{
    width: 100%;
    min-width:300px ;
    height: 20px;
    color: #ffffff;
    background-color: #4d52de;
    margin: .5em auto;
    text-align: center;
    font-size: 0.9em;
    font-family: "DejaVu Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border-radius: 2px;
}

.subtitulo{
    width: 55%;
    min-width:300px ;
    height: 20px;
    color: #ffffff;
    background-color: #4d52de;
    margin: .5em auto;
    text-align: center;
    font-size: 0.9em;
    font-family: "DejaVu Sans", sans-serif;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
}

.contenedorBusqRang{
    float: left;
    width: 15%;
    min-width: 200px;
    display: block;
    margin: 0 0;
    height:40px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #EEEEEE;
}


.contenedorBusqFech{
    float: left;
    width: 35%;
    min-width: 402px;
    height:45px;
    display: block;
    margin: 0 0;
    border-style: solid;
    border-width: 0.5px;
    border-color: #EEEEEE;
}


.contenedorBusqVal{
    float: left;
    width: 11%;
    min-width: 99px;
    display: block;
    margin: 0 0;
    height:45px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #EEEEEE;
}

.contenedorBut{
    float: left;
    width: 50%;
    min-width: 402px;
    display: block;
    margin: 0 0;
    height:40px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #EEEEEE;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}



.titFiltro{
    font-weight:bold;
    width: 100%;
    text-align: center;
    font-family: "DejaVu Sans", sans-serif;
    font-size: 0.7em;
}

label {

    font-family: "DejaVu Sans", sans-serif;
    font-size: 0.9em;
}

body{
    margin: 0 auto;
    width: 95%;
    min-width: 405px;
    text-align: center;
}

/*input{
    width: 20%;
    height: 10px;
    font-size: 0.8em;

}*/


.inputFecha{
    width: 30%;
    height: 30px;
    font-size: 0.8em;
}

select{
    width: 100%;
    height: 25px;
    font-size: 0.8em;
}

.buttonRep{
    margin: 3px auto;
    text-align: center;
    background:linear-gradient(#D8D8D8,#FFFFFF,#FFFFFF,#D8D8D8);
    border-color:#4d52de;
    color:#4d52de;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 1em;
}

.conPdf{
    height: 500px;
    width: 100%;
    margin-top: 5px;
}

#map {
    height: 260px;  /* The height is 400 pixels */
    width: 55%;  /* The width is the width of the web page */

}
.thumbnail2{
    position: relative;
    z-index: 0;
}

.thumbnail2:hover{
    background-color: transparent;
    z-index: 50;

}

.thumbnail2 span{ /*CSS for enlarged image*/
    position: absolute;
    background-color: lightyellow;
    padding: 5px;
    left: -500px;
    border: 1px dashed gray;
    visibility: hidden;
    color: black;
    text-decoration: none;

}

/* Set the size of the div element that contains the map */
#map {
    height: 260px;  /* The height is 400 pixels */
    width: 55%;  /* The width is the width of the web page */

}

img{

    border: 1px solid grey;
    border-radius: 4px;
    padding: 2px;
    height:200;
    width:200;
}


#foto1 i{
    display: inline-block;

}




.thumbnail2 span img{ /*CSS for enlarged image*/
    border-width: 0;
    padding: 2px;
    width: 400px;
    height: 400px;
}

.thumbnail2:hover span{ /*CSS for enlarged image on hover*/
    visibility: visible;
    top: -200px;
    left: -200px; /*position where enlarged image should offset horizontally */

}


@media print {
    #map {
        height: 260px;  /* The height is 400 pixels */
        width: 55%;  /* The width is the width of the web page */

    }

    .cabecera{
        width: 100%;
        min-width:300px ;
        height: 40px;
        color: #ffffff;
        background-color: #4d52de;
        margin: .5em auto;
        text-align: center;
        font-size: 1.1em;
        font-family: "DejaVu Sans", sans-serif;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        border-radius: 2px;

    }

    /* Set the size of the div element that contains the map */
    #map {
        height: 260px;  /* The height is 400 pixels */
        width: 55%;  /* The width is the width of the web page */

    }

    .subCabecera{
        width: 100%;
        min-width:300px ;
        height: 20px;
        color: #ffffff;
        background-color: #4d52de;
        margin: .5em auto;
        text-align: center;
        font-size: 0.9em;
        font-family: "DejaVu Sans", sans-serif;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        border-radius: 2px;
    }

    .subtitulo{
        width: 55%;
        min-width:300px ;
        height: 20px;
        color: #ffffff;
        background-color: #4d52de;
        margin: .5em auto;
        text-align: center;
        font-size: 0.9em;
        font-family: "DejaVu Sans", sans-serif;
        display: flex;
        flex-direction: column;
        border-radius: 2px;
    }

    .contenedorBusqRang{
        float: left;
        width: 15%;
        min-width: 200px;
        display: block;
        margin: 0 0;
        height:40px;
        border-style: solid;
        border-width: 0.5px;
        border-color: #EEEEEE;
    }


    .contenedorBusqFech{
        float: left;
        width: 30%;
        min-width: 402px;
        height:55%;
        display: block;
        margin: 0 0;
        border-style: solid;
        border-width: 0.5px;
        border-color: #EEEEEE;
    }


    .contenedorBusqVal{
        float: left;
        width: 10%;
        min-width: 99px;
        display: block;
        margin: 0 0;
        height:40px;
        border-style: solid;
        border-width: 0.5px;
        border-color: #EEEEEE;
    }

    .contenedorBut{
        float: left;
        width: 30%;
        min-width: 402px;
        display: block;
        margin: 0 0;
        height:40px;
        border-style: solid;
        border-width: 0.5px;
        border-color: #EEEEEE;
        text-align: center;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }

    .titFiltro{
        font-weight:bold;
        width: 100%;
        text-align: center;
        font-family: "DejaVu Sans", sans-serif;
        font-size: 0.9em;
    }

    label {

        font-family: "DejaVu Sans", sans-serif;
        font-size: 0.7em;
    }

    body{
        margin: 0 auto;
        width: 95%;
        min-width: 405px;
        text-align: center;
    }

    /*input{
        width: 20%;
        height: 10px;
        font-size: 0.8em;

    }*/


    .inputFecha{
        width: 30%;
        height: 20px;
        font-size: 0.8em;
    }

    select{
        width: 30%;
        height: 20px;
        font-size: 0.9em;
    }

    .buttonRep{
        margin: 3px auto;
        text-align: center;
        background:linear-gradient(#D8D8D8,#FFFFFF,#FFFFFF,#D8D8D8);
        border-color:#4d52de;
        color:#4d52de;
        border-radius: 4px;
        padding: 6px 12px;
        font-size: 1em;
    }

    .conPdf{
        height: 500px;
        width: 100%;
        margin-top: 5px;
    }
}