header{
	background-color: #88A247;
	margin: 10px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
}
header h4{	
	color: white;
	/*font-weight: bold;*/
}
form{
	width: 80%;
	margin: 0px auto;
}
.main {
	background-color: rgba(234, 231, 231, 0.68);
	padding: 2%;
	border-radius: 5px 5px 5px 5px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;

}
.datagrid table{
	border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border: 0px solid #000000;
}
.datagrid table thead, .datagrid table tfoot{
	background-color: #e7e7e7;
	color: #3e3d3db3;
	font-weight: bold;
}
hr{
	display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #fff;
    margin: 1em 0;
    padding: 0;	
}

/*
#txtCodSistema{
	margin-right: -30px;	
}*/
