
.buttons-print {
    background-color: #000040;

}
.buttons-excel {
    background-color: #000040;

}

.buttons-pdf {
    background-color: #000040;

}

.buttons-csv {
    background-color: #000040;
}

.buttons-copy {
    background-color: #000040;

}

