form {
    background: #f0f0f0;
    padding: 11px;
    margin: 12px !important;
    border-radius: 5px;
    border: 1px solid #dbd8d8;
}

#dvReporte{
    display: none;
}

#pTitle {
    background: #000040;
    color: white;
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    border-radius: 5px;
}